@{
	ViewData["Title"] = "Register New Vendor";
}

<div class="text-center">
	<h1 class="display-4">Add Vendor</h1>
	<form>
	</form>
</div>
<script src="~/js/vendor.min.js" asp-append-version="true"></script>